@charset "UTF-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif;
	font-family: "Malgun Gothic";
}
body {
	line-height: 1
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
nav ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}
del {
	text-decoration: line-through
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}
input, select {
	vertical-align: middle
}
li {
	list-style: none;
}
/*common*/
* {
	padding: 0;
	margin: 0;
}
/*layout*/

body {
	width: 100%;
	/*background: url(../images/bg.jpg)*/
	background-color: #fff;
}


/*main*/
.contents_wrap{
	width:100%;
}

.contents_wrap .block_top{
	width:100%;
	background:url(../img/bg_top.png) top center;
	background-size:cover;	
}

.contents_wrap .icon_area{
	width:100%;
	padding-top:15px;
}
.contents_wrap .icon_area a{
	display:block;
	float:left;
	width:30%;
	padding:0 10px;
}
.contents_wrap .icon_area a.fb_logo{
	float:right;
	width:25%;
}
.contents_wrap .icon_area a img{
	width:100%;
}

.contents_wrap .main_title{
	text-align:center;
	padding-bottom:20px;
	width:100%;
}
.contents_wrap .main_title img{
	width:100%;
}
.contents_wrap .navi_btn_block{
	width:100%;
}
.contents_wrap .navi_btn_block a{
	display:block;
	float:left;
	width:50%;
	text-align:center;
}
.contents_wrap .navi_btn_block a img{
	width:100%;
}

.contents_wrap .bg_cloud{
	position:relative;
	width:100%;
	background:url(../img/bg_main.png) top center ;
	background-size: cover;
	margin:5% 0 0;
	
}
.contents_wrap .bg_cloud .event{
}

.contents_wrap .sns_area{
	width:70%;
	padding:10% 0 10%;
	padding-left:25%;
}
.contents_wrap .sns_area a,
.contents_wrap .sns_area span{
	display:block;
	float:left;
	width:14%;
	text-align:center;
}
.contents_wrap .sns_area a img,
.contents_wrap .sns_area span img{
	width:100%;
}

.contents_wrap .bg_cloud .event {
	padding:73% 0 72%;
}
.contents_wrap .bg_cloud .event .btn_gift{
    width:62%;
	padding:0;
	padding-left:8%;
}
.contents_wrap .bg_cloud .event .btn_gift a{
    width:73%;
	display:block;
}
.contents_wrap .bg_cloud .event .btn_gift a img{
	width:100%;
}

.contents_wrap .bg_cloud .event .txt_date{
    width:100%;
	text-align:center;	
}
.contents_wrap .bg_cloud .event .txt_date img{
    width:60%;
}

.contents_wrap .bottom{
	text-align:center;
	width:100%;
}
.contents_wrap .bottom img{
	width:100%;
}


.wrap_page.wrap_coupon{
	background: url(../img/bg_cloud_coupon.png) no-repeat 0 -160px;
	background-size:cover;
}
.wrap_page{
	width:100%;
}
.wrap_page .header.coupon{
}

.wrap_page .content.coupon{
}
.wrap_page .content.coupon div{
	text-align:center;
}

.block_logo{
	width:100%;
}
.block_logo a{
	display:block;
	float:right;
	padding:10px;

}

.wrap_page .content.coupon .block_title{
	padding:10px 0 20px;
	width:100%;
}
.wrap_page .content.coupon .block_title img{
	width:70%;
}


.wrap_page .content.coupon .block_info{
	padding:20px 0;
	padding-left:50px;
}
.wrap_page .content.coupon .block_info ul{
	width:85%;
	padding-left:15%;
}
.wrap_page .content.coupon .block_info ul li{
	display:block;
	float:left;
	font-size:13px;
	color:#1fa3de;
	font-weight:bold;
}

.wrap_page .content.coupon .block_info ul li.txt_detail{
	color:#555;
	padding-left:10px;
}
.wrap_page .content.coupon .block_info ul li.btn_map{
	padding-left:10px;
}

.wrap_page .content.coupon .block_time{
	padding:0 0 15px;
	border-bottom:1px solid #1fa3de;
	margin:0 auto;
	width:95%;
	background:#fff;
}
.wrap_page .content.coupon .block_time .txt{
	padding-bottom:13px;
	width:100%;
}
.wrap_page .content.coupon .block_time .txt img{
	width:50%;
}
.wrap_page .content.coupon .block_time .time{
	
}
.wrap_page .content.coupon .block_time .time div{
	float:left;
}
.wrap_page .content.coupon .block_time .time img{
	width:50%;
}
.wrap_page .content.coupon .block_time .time .num img{
	width:25px;
}

.wrap_page .content.coupon .block_check_in{
	background:#c5e6f4;
	padding:30px 0;
}
.wrap_page .content.coupon .block_check_in .btn_block{
	padding-top:20px;
}


.wrap_page .block_cloud_bg{
	background: url(../img/bg_cloud.png) no-repeat 0 -170px;
	background-size: auto;
}

.wrap_page .block_cloud_bg .inner,
.wrap_page .block_cloud_bg .block_time,
.wrap_page .block_cloud_bg .block_info{
	background:#fff;
}


/*popup*/
.wrap_page.popup{
	width:100%;
	background: url(../img/popup/bg_popup.png) no-repeat top center;
	background-size:contain;
}
.wrap_page.popup .block_close{
	display:block;
	padding:10px 0 0;
}
.wrap_page.popup .block_close a{
	display:block;
	float:right;
	width:40px;
	height:40px;
}
.wrap_page.popup .content {
	padding-top:20px;
}
.wrap_page.popup .content .title {
	padding-top:0px;
	padding-bottom:20px;
	text-align:center;
}
.wrap_page.popup .content .input_block{
	padding-top:10px;
}
.wrap_page.popup .content .input_block ul {
	width:100%;
}
.wrap_page.popup .content .input_block ul li{
	display:block;
	float:left;
}
.wrap_page.popup .content .input_block ul li{
	width:63%;
}
.wrap_page.popup .content .input_block ul li.t_name{
	padding-top:10px;
	width:25%;
	padding-right:2%;
	text-align:right;
}
.wrap_page.popup .content .input_block ul li input{
	background:#d4e5ee;
	height:27px;
	padding:2px;
	border:none;
	width:100%;
	font-size:13px;
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;	
}
.wrap_page.popup .content .input_block ul li.phone .inner{
	width:100%;
}
.wrap_page.popup .content .input_block ul li.phone .inner div{
	width:33%;
	float:left;
}
.wrap_page.popup .content .input_block ul li.phone div input{
	width:90%;
}

.popup_wrap .p_mid .block_content.product .inner{
	text-align:center;
	padding:0;
	padding-top:20px;
}


.popup_wrap .block_close{
}
.popup_wrap .p_alert{
	width:400px;
	height:260px;
	background:url(../images/popup/bg_popup.png) top right;
	border:1px solid #ccc;
}
.popup_wrap .block_content .title{
	text-align:center;
}

.popup_wrap .p_alert .block_content .title{
	padding-top:25px;
}
.popup_wrap .p_alert .block_content .btn_block{
	text-align:center;
	padding-top:35px;
}


.popup_wrap .p_alert .block_content.thanks .title{
	padding-top:20px;
}
.popup_wrap .p_alert .block_content.thanks .btn_block{
	text-align:center;
	padding-top:20px;
}

.wrap_page.popup .content .input_block ul li.store{
	width:35%;
}
.wrap_page.popup .content .input_block ul li.btn {
	width:30%;
	padding-left:2%;
}

.wrap_page.popup .content .input_block ul li.address{
	width:63%;
}
.wrap_page.popup .content .input_block ul li.address .inner div{
	float:left;
	width:50%;
}
.wrap_page.popup .content .input_block ul li.address .inner div input{
	float:left;
	width:95%;
}

.wrap_page.popup .content .input_block.input_check{
	padding-left:27%;
}
.wrap_page.popup .content .input_block.input_check .in_check{
	width:8%;
}
.popup_wrap .block_content .input_block{
	padding-top:15px;
}
.popup_wrap .block_content .input_block ul{
	width:100%;
}
.popup_wrap .block_content .input_block.input_check{
	padding-left:90px;
}
.popup_wrap .block_content .input_block ul li{
	display:block;
	float:left;
}

.popup_wrap .block_content .input_block ul li.t_name{
	width:84px;
	text-align:right;
	padding-right:10px;
	padding-top:9px;
}
.popup_wrap .block_content .input_txt select input{
	background:#d4e5ee;
	height:31px;
	padding:2px;
	border:none;
	width:241px;
	font-size:13px;
}
.popup_wrap .block_content .input_txt.phone div{
	float:left;
	width:83px;
}
.popup_wrap .block_content .input_txt.phone select input{
	width:75px;
}
.popup_wrap .block_content .input_txt.store{
	width:125px;
}
.popup_wrap .block_content .input_txt.store select input{
	width:116px;
}

.popup_wrap .block_content .input_block.input_check .in_check_label{
	padding-left:5px;
}

.popup_wrap .block_content .btn_block{
	text-align:center;
	padding-top:10px;
}



/* 약관 동의 팝업*/
.pop_agree{
	position:absolute;
	background:white;
	border: 1px solid black;
	width:700px;
	height:500px;
	margin-top:-300px;
	left:30%;
	display:none;
}
.wrap_page.popup .content .input_block.input_check .in_check input{
	padding:0;
	height: 22px;
}
.wrap_page.popup .content .input_block.input_check .in_check_label{
	width:60%;
	padding-top:2px;
}

.wrap_page.popup .content .btn_block{
	text-align:center;
	padding-top:25px;
}

.wrap_page.popup .content .inner.alert .title {
	text-align:right;
}

/* 메인 지도 팝업*/
.pop_main_map{
	position:absolute;
	background:white;
	border: 1px solid black;
	width:1000px;
	height:500px;
	margin-top:-300px;
	left:30%;
	display:none;
}
.wrap_page.popup .content .inner.alert .btn_block {
	padding-top:15px;
	padding-bottom:50px;
}

.wrap_page.popup .content .inner.agree{
	padding:30px;
	word-break:break-all;
	color:#555;
	font-size:13px;
	line-height:18px;
}


/*clearfix*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

/* 팝업 jQuery ( Magnific-Popup ) 관련 CSS */
/* Styles for dialog window */
#input_1 {
	background: white;
	position: relative;
}


/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0.001; /* Chrome opacity transition bug */
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}


/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0.001; /* Chrome opacity transition bug */
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0.01;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}