@charset "UTF-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif;
	font-family: "Malgun Gothic";
}
body {
	line-height: 1
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
nav ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}
del {
	text-decoration: line-through
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}
input, select {
	vertical-align: middle
}
li {
	list-style: none;
}
/*common*/
* {
	padding: 0;
	margin: 0;
}
/*layout*/

body {
	width: 100%;
	/*background: url(../images/bg.jpg)*/
	background-color: #fff;
}
.wrap_page{
	width:100%;
}

.wrap_page .header.coupon{
	background:#6dc2e6;
}

.wrap_page .content.coupon{
	background:#6dc2e6;
}
.wrap_page .content.coupon div{
	text-align:center;
}

.block_logo{
	width:100%;
}
.block_logo a{
	display:block;
	float:right;
	padding:10px;

}

.wrap_page .content.coupon .block_title{
	padding:10px 0 20px;
}


.wrap_page .content.coupon .block_info{
	padding:20px 0;
}
.wrap_page .content.coupon .block_info ul{
	width:85%;
	padding-left:15%;
}
.wrap_page .content.coupon .block_info ul li{
	display:block;
	float:left;
	font-size:13px;
	color:#1fa3de;
	font-weight:bold;
}

.wrap_page .content.coupon .block_info ul li.txt_detail{
	color:#555;
	padding-left:10px;
}
.wrap_page .content.coupon .block_info ul li.btn_map{
	padding-left:10px;
}

.wrap_page .content.coupon .block_time{
	padding:0 0 15px;
	border-bottom:1px solid #1fa3de;
	margin:0 auto;
	width:95%;
}
.wrap_page .content.coupon .block_time .txt{
}
.wrap_page .content.coupon .block_time .time{
	color:#1fa3de;
	font-size:42px;
	font-weight:bold;
}

.wrap_page .content.coupon .block_check_in{
	background:#c5e6f4;
	padding:30px 0;
}
.wrap_page .content.coupon .block_check_in .btn_block{
	padding-top:20px;
}


.wrap_page .block_cloud_bg{
	background: url(../img/bg_cloud.png) no-repeat 0 -60px;
}
.wrap_page .block_cloud_bg .block_time,
.wrap_page .block_cloud_bg .block_info{
	background:#fff;
}


/*popup*/
.wrap_page.popup{
	width:100%;
	background: url(../img/popup/bg_popup.png) no-repeat top left;
}
.wrap_page.popup .block_close{
	display:block;
	padding:10px 0 0;
}
.wrap_page.popup .block_close a{
	display:block;
	float:right;
	width:40px;
	height:40px;
}
.wrap_page.popup .content {
	padding-top:20px;
}
.wrap_page.popup .content .title {
	padding-top:0px;
	padding-bottom:20px;
	text-align:center;
}
.wrap_page.popup .content .input_block{
	padding-top:10px;
}
.wrap_page.popup .content .input_block ul {
	width:100%;
}
.wrap_page.popup .content .input_block ul li{
	display:block;
	float:left;
}
.wrap_page.popup .content .input_block ul li{
	width:63%;
}
.wrap_page.popup .content .input_block ul li.t_name{
	padding-top:10px;
	width:25%;
	padding-right:2%;
	text-align:right;
}
.wrap_page.popup .content .input_block ul li input{
	background:#d4e5ee;
	height:27px;
	padding:2px;
	border:none;
	width:100%;
	font-size:13px;
}
.wrap_page.popup .content .input_block ul li.phone .inner{
	width:100%;
}
.wrap_page.popup .content .input_block ul li.phone .inner div{
	width:33%;
	float:left;
}
.wrap_page.popup .content .input_block ul li.phone div input{
	width:90%;
}

.wrap_page.popup .content .input_block ul li.store{
	width:35%;
}
.wrap_page.popup .content .input_block ul li.btn {
	width:30%;
	padding-left:2%;
}

.wrap_page.popup .content .input_block ul li.address{
	width:63%;
}
.wrap_page.popup .content .input_block ul li.address .inner div{
	float:left;
	width:50%;
}
.wrap_page.popup .content .input_block ul li.address .inner div input{
	float:left;
	width:95%;
}

.wrap_page.popup .content .input_block.input_check{
	padding-left:27%;
}
.wrap_page.popup .content .input_block.input_check .in_check{
	width:8%;
}
.wrap_page.popup .content .input_block.input_check .in_check input{
	padding:0;
	height: 22px;
}
.wrap_page.popup .content .input_block.input_check .in_check_label{
	width:60%;
	padding-top:2px;
}

.wrap_page.popup .content .btn_block{
	text-align:center;
	padding-top:25px;
}

.wrap_page.popup .content .inner.alert .title {
}
.wrap_page.popup .content .inner.alert .btn_block {
	padding-top:15px;
	padding-bottom:30px;
}

.wrap_page.popup .content .inner.agree{
	padding:30px;
	word-break:break-all;
	color:#555;
	font-size:13px;
	line-height:18px;
}


/*clearfix*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
